@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Playfair+Display+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


*,
:before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


$font-kaush: 'Kaushan Script', cursive;
$hover-color: aquamarine;

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




h1,
h3 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
}


// INTRO

.intro {
    width: 100%;
    height: 100vh;
    background: url(intro.jpg);

    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 880px;

    margin: 0 auto;

    text-align: center;
}

.intro__suptitle {
    color: white;
    font-size: 62px;
    text-transform: capitalize;
    text-align: center;

    font-family: $font-kaush;
}

.intro__title {
    color: white;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;


    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background-color: white;
        margin: 60px auto;
    }
}

.intro__btn {
    display: inline-block;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;

    border: 3px solid white;

    padding: 10px 15px;

    transition: .2s linear;

    &:hover{
        background-color: $hover-color;

    }

}

// HEADER 

.header{
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.header__inner {
    @include flex;

    padding-top: 30px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;


    @include flex;
}

.nav__link {
    color: white;
    text-decoration: none;

    margin: 0 15px;

    transition: .2s linear;

    &:hover {
        color: $hover-color;
    }
}